<div class="footer">
  <div>
    <a href="<%- url_for('/') %>"><%- config.title %></a> |
    Theme by <a href="//github.com/unprintable123/hexo-theme-zephie">Zephie</a> | Powered by <a href="//hexo.io">Hexo</a>
  </div>
</div>